$global-white: #fff;
$black-75: #3D3D3D;
$black-50: #353535;
$black-25: #7A7A7A;
$montserrat-font: "montserrat";
$poppins-regular: "poppins-regular";
$poppins-medium: "poppins-medium";
$poppins-semibold: "poppins-semiBold";
$first-box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.1),0 12px 64px 0 rgba(0, 0, 0, 0.1);
$second-drop-shadow: 2px 2px 10.4px rgba(0, 0, 0, 0.062);
$h1-font-size: 64px;
$h2-font-size: 48px;
$h3-font-size: 18px;
$paragraph-size: 15px;